<app-header></app-header>
<div class="container mt-3 mb-3">




  <h4 class="card-header mb-3">Formulario de contatos</h4>
  <form (ngSubmit)="f.form.valid && postClient(f)" #f="ngForm" novalidate>
    <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label col-form-label-sm">Nome</label>
    <div class="col-sm-10">
      <input type="text" name="name" class="form-control form-control-sm" id="name" [(ngModel)]="client.name" #name="ngModel" required minlength="4">
    </div>
    </div>
    <div *ngIf="name.invalid && name.touched" class="alert alert-danger alert-dismissible fade show mt-3">
      <div *ngIf="name.errors.minlength || name.errors.required"> O nome deve conter pelo menos 4 caracteres </div>
    </div>
    <div class="form-group row">
      <label for="cpf" class="col-sm-2 col-form-label col-form-label-sm">CPF</label>
      <div class="col-sm-10">
      <input type="text" name="cpf" class="form-control form-control-sm" id="cpf" placeholder="000.000.000-00" mask="000.000.000-00" #cpf="ngModel" [(ngModel)]="client.cpf" >
    </div>
    </div>
    <div *ngIf="cpf.invalid && cpf.touched" class="alert alert-danger alert-dismissible fade show mt-3">
      <div *ngIf="cpf.invalid && cpf.touched"> O cpf deve ser completo </div>
    </div>
    <div class="form-group row">
      <label for="zip" class="col-sm-2 col-form-label col-form-label-sm">CEP</label>
      <div class="col-sm-10">
      <input type="text" name="zip" class="form-control form-control-sm" id="zip" placeholder="00000-000" mask="00000-000" #zip="ngModel"	[(ngModel)]="client.zip">
    </div>
    </div>
    <div *ngIf="zip.invalid && zip.touched" class="alert alert-danger alert-dismissible fade show mt-3">
      <div *ngIf="zip.invalid && zip.touched"> O cep deve ser completo </div>
    </div>
    <div class="form-group row">
      <label for="address" class="col-sm-2 col-form-label col-form-label-sm">logradouro</label>
      <div class="col-sm-10">
      <input type="text" name="address" class="form-control form-control-sm" id="address" [(ngModel)]="client.address" #address="ngModel" required minlength="4">
    </div>
    </div>
    <div *ngIf="address.invalid && address.touched" class="alert alert-danger alert-dismissible fade show mt-3">
      <div *ngIf="address.errors.minlength || address.errors.required">O nome deve conter pelo menos 4 caracteres </div>
    </div>
    <div class="form-group row">
      <label for="neighborhood" class="col-sm-2 col-form-label col-form-label-sm">bairro</label>
      <div class="col-sm-10">
      <input type="text" name="neighborhood" class="form-control form-control-sm" id="neighborhood" [(ngModel)]="client.neighborhood" #neighborhood="ngModel" required minlength="4">
    </div>
    </div>
    <div *ngIf="neighborhood.invalid && neighborhood.touched" class="alert alert-danger alert-dismissible fade show mt-3">
      <div *ngIf="neighborhood.errors.minlength || neighborhood.errors.required">O nome deve conter pelo menos 4 caracteres </div>
    </div>
    <div class="form-group row">
      <label for="city" class="col-sm-2 col-form-label col-form-label-sm">localidade</label>
      <div class="col-sm-10">
      <input type="text" name="city" class="form-control form-control-sm" id="city" [(ngModel)]="client.city" #city="ngModel" required minlength="4">
    </div>
    </div>
    <div *ngIf="city.invalid && city.touched" class="alert alert-danger alert-dismissible fade show mt-3">
      <div *ngIf="city.errors.minlength || city.errors.required">O nome deve conter pelo menos 4 caracteres </div>
    </div>
    <div class="form-group row">
    <label for="city" class="col-sm-2 col-form-label col-form-label-sm">estado</label>
      <div class="col-sm-10">
    <select [(ngModel)]="client.state" #state="ngModel" name="state" id="state" required  class="custom-select custom-select-sm">
      <option *ngFor="let state of states" [value]="state" >{{state}}</option>
    </select>
      </div>
    </div>
    <div class="">
      <button type="submit" class="btn btn-primary btn-sm">registrar</button>
      <button type="reset" class="btn btn-danger btn-sm ml-1" (click)="cleanForm(f)">apagar</button>
    </div>
  </form>
</div>


<div class="table-responsive-sm">
  <h4 class="card-header">Lista de contatos</h4>
  <table class="table ">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">CEP</th>
        <th scope="col">Logradouro</th>
        <th scope="col">Bairro</th>
        <th scope="col">Localidade</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{client.name}}</td>
        <td>{{client.cpf}}</td>
        <td>{{client.zip}}</td>
        <td>{{client.address}}</td>
        <td>{{client.neighborhood}}</td>
        <td>{{client.city}} / {{client.state}}</td>
        <td>
          <button type="button" class="btn btn-warning btn-sm" (click)="editClient(client)">Editar</button>
          <button type="button" class="btn btn-danger btn-sm ml-1 justify-content-end" (click)="deleteClient(client)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
