<app-header></app-header>
<div class="container mt-3 mb-3">
  <form (ngSubmit)="f.form.valid && postClient(f)" #f="ngForm">
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label col-form-label-sm">Nome</label>
      <div class="col-sm-10">
      <input type="text" name="name" class="form-control form-control-sm" id="name" [(ngModel)]="client.name" #name="ngModel">
      </div>
    </div>
    <div class="form-group row">
      <label for="cpf" class="col-sm-2 col-form-label col-form-label-sm">CPF</label>
      <div class="col-sm-10">
      <input type="text" name="cpf" class="form-control form-control-sm" id="cpf" mask="000.000.000-99" [(ngModel)]="client.cpf">
    </div>
    </div>
    <div class="form-group row">
      <label for="zip" class="col-sm-2 col-form-label col-form-label-sm">CEP</label>
      <div class="col-sm-10">
      <input type="text" name="zip" class="form-control form-control-sm" id="zip" mask="00000-999"	[(ngModel)]="client.zip">
    </div>
    </div>
    <div class="form-group row">
      <label for="address" class="col-sm-2 col-form-label col-form-label-sm">logradouro</label>
      <div class="col-sm-10">
      <input type="text" name="address" class="form-control form-control-sm" id="address" [(ngModel)]="client.address">
    </div>
    </div>
    <div class="form-group row">
      <label for="neighborhood" class="col-sm-2 col-form-label col-form-label-sm">bairro</label>
      <div class="col-sm-10">
      <input type="text" name="neighborhood" class="form-control form-control-sm" id="neighborhood" [(ngModel)]="client.neighborhood">
    </div>
    </div>
    <div class="form-group row">
      <label for="city" class="col-sm-2 col-form-label col-form-label-sm">localidade</label>
      <div class="col-sm-10">
      <input type="text" name="city" class="form-control form-control-sm" id="city" [(ngModel)]="client.city">
    </div>
    </div>
    <div class="form-group row">
      <label for="state" class="col-sm-2 col-form-label col-form-label-sm">estado</label>
      <div class="col-sm-10">
      <input type="text" name="state" class="form-control form-control-sm" id="state" [(ngModel)]="client.state">
    </div>
    </div>
      <button type="submit" class="btn btn-primary btn-sm">registrar</button>
    <button type="submit" class="btn btn-danger btn-sm ml-1" (click)="cleanForm(f)">apagar</button>
  </form>
</div>

<div class="table-responsive-sm">
  <table class="table ">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">CEP</th>
        <th scope="col">Logradouro</th>
        <th scope="col">Bairro</th>
        <th scope="col">Localidade</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{client.id}}</td>
        <td>{{client.name}}</td>
        <td>{{client.cpf}}</td>
        <td>{{client.zip}}</td>
        <td>{{client.address}}</td>
        <td>{{client.neighborhood}}</td>
        <td>{{client.city}} / {{client.state}}</td>
        <td>
          <button type="button" class="btn btn-warning btn-sm" (click)="editClient(client)">Editar</button>
          <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteClient(client)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
